.buttonsRow{
    margin: 100px 0px 100px 0px;
}

.mainContainer{
    background-color: rgb(169, 227, 237);
    height: 1000px;
}

.mainHeader{
    color: rgb(30, 188, 136);
    font-size: 70px;
}

.answerText{
    font-size: 40px;
}

.answerRow{
    margin-bottom: 75px;
}